@model System.Threading.Tasks.Task<BLL.ViewModels.Class.vm_class>

@{
    var classModel = await Model;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Giáo viên trong lớp";
}
<style>
    #create_homeroom {
        display: none;
    }
</style>
<div class="row">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <h3 class="card-title">Lớp: @classModel.Name</h3>
            <h6 class="card-subtitle mb-2 text-muted">Mã lớp: @classModel.ClassCode</h6>
            <p class="card-text">Tên khóa học: @classModel.CourseName</p>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-homeroom-tab" data-bs-toggle="tab" data-bs-target="#nav-homeroom" type="button" role="tab" aria-controls="nav-homeroom" aria-selected="false">Giáo viên chủ nhiệm</button>
        <button class="nav-link" id="nav-subject_teacher-tab" data-bs-toggle="tab" data-bs-target="#nav-subject_teacher" type="button" role="tab" aria-controls="nav-subject_teacher" aria-selected="true">Giáo viên bộ môn</button>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-homeroom" role="tabpanel" aria-labelledby="nav-homeroom-tab">
            <div class="row mt-3">
                <div class="col-md-12 d-flex justify-content-end mb-3">
                    <button id="create_homeroom" class="btn btn-dark">Thêm giáo viên chủ nhiệm</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="cardTeacher" class="cardTeacher" style="text-align: center;"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-subject_teacher" role="tabpanel" aria-labelledby="nav-subject_teacher-tab">
        </div>
    </div>
</div>
<div id="classModel"
     data-id="@classModel.Id"
     data-name="@classModel.Name"
     data-classcode="@classModel.ClassCode"
     data-coursename="@classModel.CourseName"
     style="display: none;" />
<script src="~/js/Teacher_Class/Teacher_Class.js"></script>
<script>
    $(document).ready(function () {
        var classModelData = $("#classModel");
        var id = classModelData.data("id");
        var name = classModelData.data("name");
        var classCode = classModelData.data("classcode");
        var courseName = classModelData.data("coursename");
        console.log(id)
        Get_HomeRoom_Teacher(id);
    });
</script>